<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <form action="" method="post" name="testsim">
    <p>
        Please enter a:<br>
        {{form.aField(size=5)}}<br>
    </p>
    <p>
        Please enter m:<br>
        {{form.mField(size=5)}}<br>
    </p>
    <p><input type="submit" value="Draw"></p>
    </form>
    {% if url_for('linfigure', aField=form.aField.data, mField=form.mField.data) != '/linfigure' %}
    <img src="{{ url_for('linfigure', aField=form.aField.data, mField=form.mField.data) }}" alt="Plot placeholder">
    {% endif %}
  </body>
</html>