<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <form action="" method="post" name="testsim">
    <p>
        Please enter a:<br>
        {{form.aField(size=5)}}<br>
    </p>
    <p>
        Please enter m:<br>
        {{form.mField(size=5)}}<br>
    </p>
    <p>
        How many iterations do you want:<br>
        {{form.iterations(size=5)}}<br>
    </p>
    <p>
        Enter the minimum value on the X axis (optional):<br>
        {{form.xMinField(size=5)}}<br>
    </p>
    <p>
        Enter the maximum value on the X axis (optional):<br>
        {{form.xMaxField(size=5)}}<br>
    </p>
    <p><input type="submit" value="Draw"></p>
    </form>

    {% if url_for('linfigure', aField=form.aField.data, mField=form.mField.data) != '/linfigure' 
    and form.mField.data != None and form.aField.data != None and form.iterations.data != None %}
    	<img src="{{ url_for('linfigure', aField=form.aField.data, mField=form.mField.data, xMinField=form.xMinField.data, xMaxField=form.xMaxField.data, iterations=form.iterations.data) }}" alt="Plot placeholder">
    {% endif %}
  </body>
</html>